.description{
    display: none;
}
.button {
    border : 1px solid rgb(230, 118, 33);
    background-color : rgb(230, 118, 33);
    border-radius : 5px;
    text-decoration: none;
    padding: 5px;
}
.book{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}